<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" href="/assets/img/rastreamento.png" />
</head>
<body>
    <h1>Developed by, <%= name %>!</h1>
    <p>Mestrado em Engenharia Informática e Tecnologia Web - Programação Web Avançada 2024_5 - Projeto Final: JavaScript: Node.js e Express: Backend</p>
</body>
</html>